@use '/src/styles/variables.module' as *;

.container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: $gray-1;
  min-height: 13rem;
  max-width: 50rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  grid-gap: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  .imageContainer {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 1rem;
    .image {
      border-radius: 50%;
      border: 5px solid $gray-2;
    }
  }

  .author {
    grid-column: 2/-1;
    grid-row: 1/2;
    align-self: center;
    color: $gray-6;
    font-size: 0.7rem;

    * {
      font-size: 0.7rem;
    }
  }

  .answer {
    grid-column: 1/-1;
    grid-row: 2/11;
    align-self: self-start;
    padding-top: 1rem;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    white-space: pre-wrap;
  }

  .delete {
    grid-column: 12/13;
    grid-row: 11/12;
    color: $primary-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    a {
      text-decoration: none;
      color: $primary-color;
      font-size: 0.8rem;
    }
  }
}
