@use '/src/styles/variables.module' as *;

.container,
.homepage {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.25rem;
  border: 2px solid $gray-1-2;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: $gray-1;
  align-items: center;
  box-shadow: $shadow;
  height: 11rem;
  width: 10rem;
  min-height: 13rem;

  .heart {
    fill: $primary-color;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
  }

  .imageContainer {
    width: 100%;
    min-height: 6rem;
    border-radius: 1rem;
    overflow: hidden;
    .image {
      width: 100%;
      height: auto;
      border-radius: 1rem;
      object-fit: fill;
      box-shadow: $shadow;
      transition: transform 0.3s ease;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    word-break: break-all;
    justify-content: center;
    width: 100%;
    text-align: center;

    * {
      font-size: 0.8rem;
    }

    .breed {
      color: $secondary-color;
      word-break: normal;
    }

    .title {
      color: $gray-7;
      word-break: normal;
    }

    .date {
      color: $gray-6;
    }
  }
}

.homepage {
  width: 9rem;
  min-height: 11rem;
}

.container:hover .image {
  transform: scale(1.1);
}

@media (min-width: $medium-screen) {
  .container {
    width: 11rem;
  }
}
