@use '/src/styles/variables.module' as *;

.container,
.homepage {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.25rem;
  border: 2px solid $gray-1-2;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: $gray-1;
  align-items: center;
  box-shadow: $shadow;

  .heart {
    fill: $primary-color;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
  }

  .imageContainer {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    .image {
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    word-break: break-all;
    justify-content: space-between;
    width: 100%;
    text-align: center;

    * {
      font-size: 0.8rem;
    }

    .breed {
      color: $secondary-color;
      word-break: normal;
    }

    .title {
      color: $gray-7;
      word-break: normal;
    }

    .date {
      color: $gray-6;
    }
  }
}

.container:hover .image {
  transform: scale(1.1); /* Zoom effect */
}

@media (min-width: $medium-screen) {
  .container {
    width: 11rem;

    .imageContainer {
      width: 100%;
      height: 100%;
    }

    .image {
      width: 150px;
      height: auto; /* Maintain aspect ratio */
    }
  }
}
