@use '/src/styles/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  justify-content: space-around;
  color: $gray-7;

  .image {
    width: 200px;
    height: auto;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .formElements {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        color: $gray-7;
      }
      label,
      input {
        font-size: 0.9rem;
      }

      input {
        padding: 0.2rem;
        border-radius: 0.5rem;
        border: 1px solid $gray-4;
        height: 2rem;
        width: 15rem;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

        &:focus {
          outline: none;
          border: 2px solid $accent-color;
        }
      }
    }
    .failed {
      color: $primary-color;
    }
  }
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 70vh;
  .image {
    width: 350px;
    height: auto;
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    .success {
      color: $secondary-color;
    }
  }
}

@media (min-width: $medium-screen) {
  .container,
  .successContainer {
    flex-direction: row-reverse;
    .image {
      height: 250px;
      width: auto;
    }
  }
}
