@use '/src/styles/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2rem;

  .title {
    font-size: 1.2rem;
    color: $secondary-color;
  }

  .adoptList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
}
