@use '/src/styles/variables.module' as *;

.container {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(12, auto);
  gap: 1rem;
  .title {
    grid-column: 1/-1;
    grid-row: 1/2;
    font-size: 1.2rem;
    color: $secondary-color;
    align-self: center;
    justify-self: center;
  }

  .warningMessage {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    color: $gray-1;
    padding: 0.5rem;
    gap: 0.5rem;
    max-width: 75%;
    justify-self: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

    * {
      font-size: 0.7rem;
    }
  }

  .sideBar {
    grid-column: 1/3;
    grid-row: 3/-1;
  }

  .adoptList {
    grid-column: 3/-1;
    grid-row: 3/-1;
  }
}
