@use '/src/styles/variables.module' as *;

.button {
  width: 6rem;
  height: 1.5rem;
  font-size: 0.9rem;
  background-color: $gray-1;
  border-radius: 2rem;
  cursor: pointer;
}
.default {
  color: $accent-color;
  border: 1px solid $accent-color;

  &:hover {
    background-color: $accent-color;
    color: $gray-1;
  }
}

.small {
  width: 4rem;
  height: 1rem;
  font-size: 0.7rem;
}

.primary {
  color: $primary-color;
  border: 1px solid $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $gray-1;
  }
}

.secondary {
  color: $secondary-color;
  border: 1px solid $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: $gray-1;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.loading {
  position: relative;
}

.loading:after {
  content: ' ';
  display: block;
  width: 3px;
  height: 5px;
  margin: auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: $accent-color transparent $accent-color transparent;
  animation: loading 1.2s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
