@use '/src/styles/variables.module' as *;

.container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: $gray-1;
  min-height: 10rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  grid-gap: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  .imageContainer {
    grid-column: 1/2;
    grid-row: 1/5;
    padding-right: 1rem;
    .image {
      border-radius: 50%;
      border: 5px solid $gray-2;
    }
  }

  .title {
    grid-column: 2/-1;
    grid-row: 1/3;
    font-weight: 900;

    a {
      text-decoration: none;
      color: $gray-9;
    }
  }

  .author {
    grid-column: 2/-1;
    grid-row: 3/5;
    color: $gray-6;
    font-size: 0.7rem;

    * {
      font-size: 0.7rem;
    }
  }

  .question {
    grid-column: 1/-1;
    grid-row: 5/11;
    padding-top: 1rem;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    white-space: pre-wrap;

    .readMore {
      color: $secondary-color;
      font-weight: 900;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .iconContainer {
    position: relative;
    display: inline-block;

    a {
      text-decoration: none;
      color: $gray-7;
    }

    .icon {
      width: 1.5rem;
      height: auto;
    }

    .badge {
      position: absolute;
      top: -0.1rem;
      right: 2.5rem;
      background-color: $secondary-color;
      color: $gray-1;
      border-radius: 50%;
      padding: 0.15rem 0.3rem;
      font-size: 0.6rem;
    }
  }
}
