@use '/src/styles/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    color: $primary-color;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;

    a {
      text-decoration: none;
      color: $gray-8;
    }
  }
}
