@use '/src/styles/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;

  h2 {
    position: absolute;
    top: 10%;
    font-size: 0.8rem;
  }

  button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $gray-3;
    color: $gray-9;
    width: 6rem;
    cursor: pointer;
    font-size: 0.8rem;

    &:hover {
      color: $primary-color;
      font-weight: 900;
    }
  }

  .image {
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    border: 1px solid $gray-4;
  }
}
