@use '/src/styles/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 60vh;
  h1 {
    color: $primary-color;
  }
}
