@use '/src/styles/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;

  .messageCard {
    a {
      text-decoration: none;
    }
  }
}

.noConversation {
  display: flex;
  height: 100%;
  align-items: center;
  color: $gray-6;
  padding: 1rem;
}
