@use '/src/styles/variables.module' as *;

.container {
  text-align: center;

  h1 {
    color: $gray-7;
  }

  .pageContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    min-height: 60vh;

    .image {
      width: 200px;
      height: auto;
      padding: 2rem 0;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: left;
      margin-top: 2rem;

      .formGroup {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-size: 0.8rem;
        }

        .textarea {
          font-family: 'Roboto';
          font-weight: 500;
        }

        .questionTitle,
        .textarea {
          resize: none;
          border: 1px solid $gray-4;
          border-radius: 1rem;
          padding: 1rem;
          width: 100%;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

          &:focus {
            outline: none;
            border: 2px solid $accent-color;
          }
        }
        .questionTitle {
          height: 2rem;
        }
        .textarea {
          height: 8rem;
        }
      }
      .submitButton {
        align-self: end;
      }
    }
    .errorMessage {
      color: $primary-color;
      align-self: center;
    }
  }
}

@media (min-width: $medium-screen) {
  .container {
    .pageContainer {
      .image {
        width: 250px;
        height: auto;
        padding: 2rem 0;
      }
    }
  }
}
