.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60vh;

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .image {
    width: 300px;
    height: auto;
  }
}
