@use '/src/styles/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    color: $gray-7;
  }

  .mobileNav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .desktopNav,
  .desktopAsk {
    display: none;
  }
  .filterContainer {
    position: relative;
    .filters {
      @include submenu-styles;
      width: 13rem;

      &.showFilters {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }

    .communityNav {
      display: flex;
      flex-direction: column;
      list-style: none;
      max-width: 100%;

      li {
        color: $gray-9;
        font-size: 0.9rem;
        border-top: 2px solid $gray-3;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        &:first-child {
          border-top: none;
          padding-top: 0;
        }
      }
    }
  }
}

@media (min-width: $medium-screen) {
  .container {
    display: flex;
    flex-direction: row;

    .mobileNav {
      display: none;
    }
    .desktopAsk {
      display: block;
    }

    .desktopNav {
      display: block;
      width: 100%;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 1rem 0;
        justify-content: space-between;
        align-items: center;

        li {
          color: $gray-7;
          font-size: 0.9rem;
          cursor: pointer;
          padding-bottom: 0.5rem;
          :hover {
            border-bottom: 2px solid $accent-color;
          }

          .links {
            text-decoration: none;
            color: $gray-8;
            padding-bottom: 0.2rem;
          }

          .active {
            color: $accent-color;

            padding: 0.5rem;
            border-bottom: none;
          }
        }

        .desktopAsk {
          :hover {
            border-bottom: none;
          }
        }
      }
    }
  }
}
