@use '/src/styles/variables.module' as *;

.desktopNav {
  display: none;
}

@media (min-width: $medium-screen) {
  .desktopNav {
    display: block;
    ul {
      display: flex;
      flex-direction: row;
      gap: 3rem;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: $primary-color;

        a {
          text-decoration: none;
          color: $secondary-color;
          transition: border-color 0.2s ease-in-out;
        }
        .login {
          color: $primary-color;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .breedContainer,
  .adoptContainer {
    position: relative;

    .subMenu,
    .adoptSubMenu {
      @include submenu-styles;
      display: none;

      li:first-child {
        padding-bottom: 1rem;
      }

      li:nth-child(2) {
        border-top: 2px solid $gray-3;
        padding: 1rem 0;
      }

      &.showSubMenu,
      &.showAdoptSubMenu {
        opacity: 1;
        display: block;
        transform: translateY(0);
        pointer-events: auto;
      }
    }
  }
  .loginContainer {
    position: relative;
    gap: 1rem !important;

    .profileSubMenu {
      @include submenu-styles;
      gap: 0;
      left: -6rem;

      li:not(:first-child) {
        border-top: 2px solid $gray-3;
      }
      li {
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
      }
      li:first-child {
        padding-top: 0;
      }

      &.showProfileSubMenu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }

      .messageIcon {
        color: $secondary-color;
      }
    }
  }
  .subMenuBtn {
    border: none;
    color: $secondary-color;
    cursor: pointer;
    display: flex;
    gap: 0.2rem;
    background-color: transparent;
  }

  .envelopeIcon {
    position: relative;
    display: inline-block;
    display: flex;

    .menuIcon {
      font-size: 1.1rem;
    }
    a {
      text-decoration: none;
      color: $gray-7;
    }

    .messageCount {
      position: absolute;
      top: -0.2rem;
      right: -0.2rem;
      background-color: $secondary-color;
      color: $gray-1;
      border-radius: 50%;
      padding: 0.1rem 0.2rem;
      font-size: 0.4rem;
    }
  }
}
