@use '/src/styles/variables.module' as *;

.navContainer {
  color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 3rem;
}

.logo {
  height: 3rem;
  width: auto;
}

.loginIcon {
  color: $primary-color;
}

.menuIcon {
  font-size: 1.3rem;

  @media (min-width: $medium-screen) {
    display: none;
  }
}

.mobileNavContainer {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

@media (min-width: $medium-screen) {
  .logo {
    height: 4rem;
  }
}
