@use '/src/styles/variables.module' as *;

.mobileNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 5rem;
  right: 0;
  top: 5rem;
  padding-top: 3rem;
  height: 100%;
  border-top-left-radius: 20px;
  background-color: $primary-color;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  transform: translateX(110%);
  box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.2);

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    li {
      list-style: none;
      text-align: center;
      color: $gray-3;

      a {
        text-decoration: none;
        color: $gray-3;
      }
    }
  }

  .backgroundImage {
    width: 250px;
    height: 250px;
    background-image: url('/images/backgroundlogo.png');
    background-size: cover;
    opacity: 0.1;
    align-self: flex-end;
  }
  &.showNav {
    transform: translateX(0);
  }
}

.profileSubMenu {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 2rem;
  justify-content: center;
  .login {
    color: $accent-color;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  .signout {
    color: $gray-5;
  }
}

.breedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 0;
  transition: padding-bottom 0.3s ease-in-out;

  .breedsLink {
    display: flex;
    gap: 0.25rem;
    margin-left: 1.25rem;
    cursor: pointer;
  }

  &.showSubMenu {
    padding-bottom: 5rem;
  }

  .breedsSubMenu {
    flex-direction: row;
    gap: 0.75rem;
    position: absolute;
    top: 50%;
    background-color: $gray-3;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    display: none;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);

    &.showSubMenu {
      display: flex;
    }

    li {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      gap: 0.5rem;

      a {
        font-size: 0.8rem;
        color: $primary-color;
      }

      .icon {
        fill: $primary-color;
        font-size: 1.5rem;
      }
    }

    li:nth-child(2) {
      border-left: 2px solid $gray-5;
      padding-left: 0.75rem;
    }
  }
}
