@use '/src/styles/variables.module' as *;

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  gap: 1rem;
  z-index: 1;

  .modal,
  .desktopFilter {
    position: absolute;
    top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    background-color: $gray-2;
    border: 2px solid $gray-4;
    align-self: center;

    h2 {
      text-align: center;
      font-size: 0.9rem;
      padding: 0.2rem;
      color: $gray-6;
      background-color: $gray-4;
      width: 100%;
      cursor: pointer;
      text-align: left;
      text-indent: 1rem;
      a {
        color: $gray-6;
        text-decoration: none;
        font-size: 0.9rem;
      }

      &.active {
        background-color: $secondary-color;
        color: $gray-3;
        a {
          color: $gray-3;
        }
      }
    }

    ul {
      list-style: none;
      max-height: 15rem;
      width: 100%;
      overflow: scroll;
      scrollbar-width: thin; /* For Firefox */

      &::-webkit-scrollbar {
        width: 0.7rem; /* For Chrome, Safari, and Opera */
      }

      &::-webkit-scrollbar-track {
        background: $gray-2; /* Track color */
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-3; /* Thumb color */
        border-radius: 1rem; /* Rounder thumb */
        border: 1px solid $gray-4; /* Border color of the thumb */

        &:hover {
          background-color: $secondary-color;
        }
      }

      &::-webkit-scrollbar-corner {
        background-color: $gray-2;
      }

      li {
        border-bottom: 2px solid $gray-3;
        padding: 0.5rem 0;
        text-indent: 1rem;
        display: flex;
        justify-content: space-between;

        &.active {
          a {
            font-weight: 900;
            color: $secondary-color;
          }
        }

        a,
        span {
          text-decoration: none;
          color: $gray-8;
          font-size: 0.8rem;
        }
      }
    }
  }
  .desktopFilter {
    display: none;
  }
}

@media (min-width: $medium-screen) {
  .listButton {
    align-self: center;
    justify-self: flex-start;
  }
  .container {
    flex-direction: column;

    .mobileFilter {
      display: none;
    }

    .desktopFilter {
      display: flex;
      position: relative;
      top: 0;
      margin-top: 0;
      width: 90%;
    }
  }
}
