@use '/src/styles/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: center;

  .filters {
    width: 100%;
  }

  h1 {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    color: $gray-7;
  }

  .filterTitle {
    color: $accent-color;
  }

  .nothingToShow {
    height: 60vh;
    display: flex;
    align-items: center;
    color: $primary-color;
  }
}

@media (min-width: $medium-screen) {
  .container {
    width: 80%;
  }

  .filterTitle {
    display: none;
  }
}
