@use '/src/styles/_variables.module.scss' as *;

.container {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;

  a {
    text-decoration: none;
    color: $gray-7;
  }
}

@media (min-width: $medium-screen) {
  .container {
    gap: 2rem;
  }
}
