@use '/src/styles/variables.module' as *;

.slider {
  overflow: hidden;
  max-width: 250px;
  max-height: 250px;
  border-radius: 2rem;
  border: 2px solid $gray-5;
}
.container {
  display: flex;
}
.image {
  flex: 0 0 100%;
}
