@use '/src/styles/variables.module' as *;

.slider {
  overflow: hidden;
  max-width: 250px;
  max-height: 250px;
  border-radius: 2rem;
}
.container {
  display: flex;
}
.image {
  object-fit: contain;
}
